<!-- USE .erb NOT .html -->
<!DOCTYPE>
<html>
  <head><!--Brain Html -->
    <title>Style Guru</title>
  </head>
  <body>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <h1> This is what I've put together for you</h1>
    <h2><%=@typeshirt%></h2>
    <br>
    <h3><%=@typepants%></h3>
    <br>
    <h4><%=@typeshoes%></h4>
  </body>
</html>